<!doctype html>
<html lang="en" ng-app="EsConnector">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PoE Blackmarket</title>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <!-- Warning, I've seen some glitchy errors on newer versions, I think they require node.js installation or some idiocy -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticsearch/10.0.1/elasticsearch.angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.5.3/js-yaml.min.js"></script>
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script> -->
  
  <script src="js/blackmarket.js"></script>
  <script src="js/es.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-69246337-1', 'auto');
    ga('send', 'pageview');
  
  </script>
</head>
<body>
<p><a href="https://gitter.im/poeblackmarket/poeblackmarket.github.io?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/6a20bbda5b67a25b931a80c89160d921971d1942/68747470733a2f2f6261646765732e6769747465722e696d2f706f65626c61636b6d61726b65742f706f65626c61636b6d61726b65742e6769746875622e696f2e737667" alt="Join the chat at https://gitter.im/poeblackmarket/poeblackmarket.github.io" data-canonical-src="https://badges.gitter.im/poeblackmarket/poeblackmarket.github.io.svg" style="max-width:100%;"></a>
<strong>Path of Exile Blackmarket - An Advance Search Engine</strong> --- This still very much a work in progress, but were working hard!</p>
<a href="https://github.com/poeblackmarket/poeblackmarket.github.io">Github Repo</a><br/>
--
<br/>
<!-- Main div starts at 0 spacing for simplicity -->
<div id="main" style="width:100%;padding-left:50px;padding-right:50px" ng-controller="ExileToolsHelloWorld" >
  <input ng-model="searchInput" my-enter="doSearch()" size="150" type="text"></input>
  <input ng-click="doSearch()" type="button" value="Search"/>
  <hr width=100% size=1>

  <div>
    <li>Request took {{Response.took}} ms
    <li>Request matched {{Response.hits.total}} hits
    <li>Query String: {{queryString}}

    <ul>
      <li ng-repeat="item in Response.hits.hits">
        {{item._source.info.fullName}},<img ng-src="{{item._source.info.icon}}" />
      </li>
    </ul>
  </div>
</div>
</body>
</html>