---
name: home
url: /
---

<div class="grid-container">
    <div id="main" style="width:100%;padding-left:50px;padding-right:50px" ng-controller="SearchController" >
      <input ng-model="searchInput" my-enter="doSearch()" size="150" type="text"></input>
      <input ng-click="doSearch()" type="button" value="Search"/>
      <hr width=100% size=1>

      <div>
        <li>Request took {{Response.took}} ms
        <li>Request matched {{Response.hits.total}} hits
        <li>Query String: {{queryString}}

        <ul>
          <li ng-repeat="item in Response.hits.hits">
            {{item._source.info.fullName}},<img ng-src="{{item._source.info.icon}}" />
          </li>
        </ul>
      </div>
    </div>
</div>
