
<div id="main" class="grid-container" ng-controller="SearchController" >
	
	<div class="grid-content"> 
		<!--div zf-panel="" id="panelName">
			<a zf-close="" class="button">Close Panel</a>
		-->	
				<label>Search Input</label>
				<input ng-model="searchInput" my-enter="doSearch()" size="10" type="text">
				<a href="#" ng-click="doSearch()" class="button" value="Search"/>Search</a>
				<span style="font-size:12px;">
					<span>Request took {{Response.took}} ms --- </span>
					<span>Request matched {{Response.hits.total}} hits --- </span>
					<span>Query String: {{queryString}}</span>
				</span>
				<!--hr width=100% size=1-->			
		<!--/div-->
	</div>
	
	<div class="grid-content">
		<!--a href="#" zf-toggle="panelName" class="button">Show Search</a-->
		
		
		<div class="grid-block">
			<div class="grid-block result-item-box" ng-repeat="item in Response.hits.hits">
				<textarea rows=25 cols=100 style="font-size:14px; background-image: url({{item._source.info.icon}}); background-repeat: no-repeat; background-position: center;">
					{{item._source | json}}
				</textarea>
			</div>
		</div>
	</div>
	
</div>
